.news-card {
    background-color: #F5F6F7;
    display: flex;
    flex-direction: column;
    padding: 0 102px;
}

.news-card-list {
    background-color: #F5F6F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.news-card-list__grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)); /* 3 columnas fijas */
    gap: 16px;
    margin: 0 auto;
}

.news-card-list-title {
    font-family: "Roboto-slab";
    font-size: 40px;
    text-align: start;
    padding-top: 80px;
    margin: 0;
    padding-bottom: 64px;
    width: 100%;
}

.news-card-list__show-more {
    background-color: #E8E8E8;
    width: 288px;
    height: 64px;
    border: none;
    border-radius: 80px;
    cursor: pointer;
    font-family: "Roboto-medium";
    font-size: 18px;
    margin: 64px 0 80px;
    align-self: center;
}

     /*COPIE*/
   /*40PX*/
   @media (max-width: 1100px) { 
    .news-card {
        padding: 0 40px;
    }
    .news-card-list__grid {
        gap: 8px;
    }
   }
   @media (max-width: 900px) {
    .news-card-list__grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
   }
   /* 24PX */
   @media (max-width: 767px) { 
    .news-card {
        padding: 0 24px;
    }
    .news-card-list__grid {
        gap: 10px;
    }
    .news-card-list-title {

        padding-top: 40px;
        padding-bottom: 20px;
    }
   }

   @media (max-width: 590px) { 
    .news-card-list__grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .news-card-list-title {
font-size: 30px;
        padding-top: 32px;
        padding-bottom: 24px;
    }
    }

   /*16PX*/
   @media (max-width: 480px) { 
    .news-card {
        padding: 0 16px;
    }
    }